@import url("fonts/OpenSans-Light.ttf");
:root {
  --scrollBarRgba: 75, 70, 67, 0.2;
  --bgRgb: 255, 255, 255;
  --quickHelpRgb: 173, 169, 168;
  --gry10: 227, 225, 225;
  --text70Rgb: 75, 70, 67;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  zoom: 1.4;
  color: rgb(var(--text70Rgb));
}

#settingsDiv {
  padding: 0 1.6rem;
}
#settingsDiv label {
  font-size: 100%;
}
#settingsDiv .input {
  padding-left: 0.2rem;
  margin-left: 0.2rem;
  border: 2px dashed rgb(var(--gry10));
  border-radius: 0.15rem;
  font-size: 100%;
  width: 3.1rem;
  height: 1.5rem;
}
#settingsDiv label,
#settingsDiv input[type=checkbox] {
  cursor: pointer;
}
#settingsDiv input[type=checkbox] {
  margin: 0 0 0 0.2rem;
  width: 1.3rem;
  height: 1.3rem;
}
#settingsDiv #saveUsernameButton {
  width: 6rem;
}

.quickHelp {
  color: rgb(var(--quickHelpRgb));
  font-size: 60%;
}

#versionStr {
  position: absolute;
  bottom: 0.5rem;
  right: 0.9rem;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollBarRgba));
  border-radius: 2px;
}

* {
  scrollbar-color: rgba(var(--scrollBarRgba)) transparent;
  scrollbar-width: thin;
}

body {
  scrollbar-face-color: rgba(var(--scrollBarRgba));
  scrollbar-arrow-color: rgb(var(--bgRgb));
  scrollbar-darkshadow-color: rgb(var(--bgRgb));
  scrollbar-base-color: rgb(var(--bgRgb));
  scrollbar-highlight-color: rgb(var(--bgRgb));
  scrollbar-shadow-color: rgb(var(--bgRgb));
}

::-webkit-scrollbar-corner {
  background-color: rgb(var(--bgRgb));
}

/*# sourceMappingURL=settingsWindow.css.map */
